.pagina-agendamento{

    .Div-FaixaPreta {
        background-color: #000;
        height: 20vh;
    }
    
    
    .Div-Image-Logo {
        display: flex;
        justify-content: center;
    }
    
    
    .Image-Logo {
    width: 130px;
    }
    
    
    .Div-Div-Agendar {
        margin-top: 25px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        font-family: '1';
        font-weight: bold;
        flex-direction: row;
        align-self: center;
        margin-bottom: 60px;
    }
    
    
    
    
    
    
    .Div-Agendar {
        width: 700px;
        border: 3px solid #4B4DF7;
        margin-bottom: 40px;
    }
    
    
    .Agendar {
        background-color: #4B4DF7;
        text-align: center;
        padding: 15px 15px;
        margin-bottom: 30px;
    }
    
    
    .p-titulo {
        font-size: 20px;
        margin-top: 7px;
        color: #fff;
    }
    
    
    p {
        margin-left: 40px;
        font-size: 15px;
        margin-bottom: 8px;
    }
    
    input:focus{
        color: #4B4DF7;
    }
    
    input {
        margin-left: 40px;
        padding: 10px 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        border: 3px solid #4B4DF7;
        background-color: #dedefd;
    }
    
    
    .calendario {
        padding: 10px 50px;
        color: #fff;
        font-size: 18px;
    }
    
    
    .div-botao {
        text-align: center;
        margin-bottom: 60px;
        margin-top: 30px;
        color: #fff;
    }
    
    
    .botao {
        padding: 10px 40px;
        font-size: 15px;
        border-radius: 25px;
        background-color: #4B4DF7;
        color: #fff;
    }
    
    
    .wi {
    width: 650px;
    }
    
    .img {
        margin-left: 05px;
    }
    
    
    .rodape {
        background-color: #000;
        height: 180px;
    }
    
    
    .div-cor {
        display: flex;
        flex-direction: row;
        
    }
    
    .p-veiculo {
        margin-right: 150px;
    }
    
    .areav {
        width: 200px;
    }
    
    .areac {
        width: 200px;
    }
    
    .p-veiculo2 {
        margin-right: 230px;
    }
    
    
    .png {
        width: 45px;
        margin-top: 60px;
    }
    
    .png2 {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 60px;
    }
    
    .png1 {
        margin-left: 40px;
        margin-top: 60px;
    }
    
    
    .p-roda {
        color: rgb(161, 157, 157);
        margin-top: 70px;
        margin-left: 100px;
        font-size: 20px;
        font-family: '1';
    }
    
    
    .div-rodape {
        display: flex;
        flex-direction: row;
    }
    
    .p-roda2 {
        color: rgb(161, 157, 157);
        margin-top: 70px;
        margin-left: 150px;
        font-size: 20px;
        font-family: '1';
    }

}