.pagina-login{
    body{
    
        margin: 0px;
    }
    
    header{
        display: flex;
        justify-content: center;
        background-color: #000;
        height: 14vh;
    }
    
    header img{
        margin-top: -7.4em;
        width: 300px;
        height: 300px;
        
    
    }
    
    .cent{
     
    }
    
    
    
    .co-a{
        border: solid 3px #4B4DF7;
        height: 90vh;
    }
    
    .co-b{
        display: flex;
        flex-direction: row;
        
    }
    
    .co-c{
        display: flex;
        justify-content: center;
        background-color: #4B4DF7;
        width: 110vh;
        height: 90vh;
    }
    
    .c{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 65vh;
        margin: 30px;
        height: 75vh;
        border-radius: 5px;
        justify-content: center;
        
    }
    
    .c input{
        height: 30px;
        border-radius: 5px;
        border: solid 2px #4B4DF7;
        width: 450px;
        margin: 15px;
    }
    
    .c h1{
        font-family: 'fonte1';
        color: #000000;
        font-family: 'fonte1';
        margin-top: -100px;
    }
    
    .cl{
        display: flex;
        flex-direction: row;
        margin-left: 34px;
    }
    
    .cl input{
        width: 33vh;
    }
    
    .cm input{
        font-size: 15px;
        font-family: 'fonte1';
        background-color: #4B4DF7;
        color: #f5f6fa;
        width: 20vh;
        height: 5vh;
        border-radius: 20px;
        margin-top: 40px;
    
    }
    
    
    .kj{
        margin-top: 0px;
    }
    
    
    
    .co-d{
        background-color: #ffffff ;
        width: 150vh;
        height: 10vh;
    }
    
    .co-d{
        margin-top: 0px;
        width: 60vh ;
        height: 55vh;
       
    }
    
}